/* Table of Content
==================================================
	1.0  -  Custom Class
	2.0  -  Browser Fix
	3.0  -  DT Responsive*/

	/*--------------------------------------------------------------
	1.0 - Custom Class
	--------------------------------------------------------------*/
	
	a.video-image span:after, .team-grid .dt-sc-team-thumb:before, .team-grid .dt-sc-team:hover .dt-sc-team-thumb:before, .dt-sc-playon-video-modal:before, .dt-sc-playon-video-modal:hover:before, .dt-sc-playon-video-modal:after, .dt-sc-playon-video-modal:hover:after, .best-platform p a, .best-platform:hover p a { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.title_uppercase { text-transform:uppercase; }
	.title_bold { font-weight:bold; }
	
	/* http://prntscr.com/dydrzx = Reseller Hosting page */
	.extend-bg-fullwidth-left:after, .extend-bg-fullwidth-right:after { content:""; display:inline !important; height:100%; position:absolute; top: 0; width: 9999px; }
	.extend-bg-fullwidth-left:after { right:100%; }
	.extend-bg-fullwidth-right:after { left:100%; }
	
	.extend-bg-fullwidth-left:after, .extend-bg-fullwidth-right:after { background:#f5f5f5; }
	
	.dt-sc-special-testimonial-container .extend-bg-fullwidth-left:after, .dt-sc-special-testimonial-container .extend-bg-fullwidth-right:after { background: none; }
	
	a.video-image span { font-size: 40px; position: relative; height: 75px; width: 75px; line-height: 75px; color: #fff; -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	a.video-image span:after { position: absolute; display: block; content: ""; height: 75px; width: 75px; line-height: 75px; border-radius: 50%; background: #2b2b2b; color: #fff; -webkit-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.35); -moz-box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.35); box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.35); z-index: -1; top: 0; left: -2px; }
	a.video-image span:hover:after { background: #fff; }
	
	
	.image-overlay-icon .vc_single_image-wrapper { position: relative; }
	.image-overlay-icon .vc_single_image-wrapper:before { content: ""; display: block; width: 100%; height: 100%; background: rgba(0,0,0,0.4); top: 0; left: 0; right: 0; margin: 0 auto; position: absolute; }
	
	.image-overlay-icon a.video-image { position: absolute; top: 50%; transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); left: 0; right: 0; margin: 0 auto; width: 100%; text-align: center; }
	
	
	.gradient-parallax:before { content: ""; position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; z-index: 9;
    background: -moz-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.72) 30%, rgba(229, 229, 229, 0) 40%, rgba(229, 229, 229, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); }
	
	.gradient-parallax .gradient-content { z-index: 9; padding-right: 45px; }
	
	
	@media screen and (-webkit-min-device-pixel-ratio:0) { 
		::i-block-chrome, .safari-hack.vc_row.vc_row-flex { display: block !important; }
	}
	/*.vc_row.vc_row-flex, .vc_row.vc_row-flex > .vc_column_container*/

	/*----*****---- << Vc Column custom class >> --****--*/
	.rs_no-padding_column.wpb_column, .vc_col-md-12.wpb_column.rs_no-padding_column { margin-top: -1px; padding-bottom: 0; margin-bottom:0; } /* http://prntscr.com/dydqdv */
	
	.light-overlay:before { background:rgba(255, 255, 255, 0.8); } /* http://prntscr.com/dydsrd  = Model Home page contact section */
	.dark-overlay:before { background:rgba(0, 0, 0, 0.8);  }	


	/*----*****---- << Gray Scale >> --****--*/ /* http://prntscr.com/dydr06 = Hotel Our Firm Page */
	.gray-scale:hover, .gray-scale:hover img { -webkit-filter: grayscale(1); -moz-filter: grayscale(1); -ms-filter: grayscale(1); -o-filter: grayscale(1); filter: grayscale(1); -webkit-transition-property: -webkit-filter; -moz-transition-property: -moz-filter; -ms-transition-property: -ms-filter; -o-transition-property: -o-filter; transition-property: filter; -webkit-transition-duration: 1s; -moz-transition-duration: 1s; -ms-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; }
	


	/*----*****---- << Text with icon >> --****--*/ /* http://prntscr.com/dydrax = Fitness Home Page */
	.dt-sc-text-with-icon { width:100%; clear:both; float:left; font-weight:bold; padding:12px 0px 12px 20px; }
	.dt-sc-text-with-icon span { font-size:18px; margin:0px 7px 0px 0px; position:relative; top:2px; font-weight:bold; }
	
	.dt-sc-text-with-icon.border-bottom { border-bottom:1px solid; }
	.dt-sc-text-with-icon.border-right { border-right:1px solid; }

	.dt-sc-dark-bg .dt-sc-text-with-icon span { color:#ffffff; }
		
	
	/*----*****---- << Hosting Domain Page Table >> --****--*/ /* http://prntscr.com/dydxr3 = Hosting Domain Page */
	.hosting-table { border-top:0px; font-family:'Open Sans', sans-serif; }
	.hosting-table th { background:#e1e1e1; border-radius:5px 5px 0px 0px; color:#000000; font-weight:600; font-size:16px; border-right:1px solid #ffffff; padding:20px 15px; }
	.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { background:rgba(0, 0, 0, 0.95); border-right:1px solid rgba(255, 255, 255, 0.2); border-bottom:0px; font-size:16px; font-weight:600; padding:25px 15px; }
	.hosting-table tbody tr td:last-child, .hosting-table tr th:last-child { border:none; }
	
	.hosting-table tbody tr:nth-child(2) td { background:rgba(0, 0, 0, 0.9); }
	.hosting-table tbody tr:nth-child(3) td { background:rgba(0, 0, 0, 0.85); }
	.hosting-table tbody tr:nth-child(4) td { background:rgba(0, 0, 0, 0.8); }
	.hosting-table tbody tr:nth-child(5) td { background:rgba(0, 0, 0, 0.75); }
	.hosting-table tbody tr:nth-child(6) td { background:rgba(0, 0, 0, 0.7); }
	.hosting-table tbody tr:nth-child(7) td { background:rgba(0, 0, 0, 0.65); }
	.hosting-table tbody tr:nth-child(8) td { background:rgba(0, 0, 0, 0.6); }
	.hosting-table tbody tr:nth-child(9) td { background:rgba(0, 0, 0, 0.55); }
	.hosting-table tbody tr:nth-child(10) td { background:rgba(0, 0, 0, 0.5); }
	.hosting-table tbody tr:nth-child(11) td { background:rgba(0, 0, 0, 0.45); }
	.hosting-table tbody tr:nth-child(12) td { background:rgba(0, 0, 0, 0.4); }
	
	.hosting-table tbody tr td:first-child { position:relative; }
	.hosting-table tbody tr td:first-child:before { content:""; position:absolute; left:0px; top:0px; width:100%; height:100%; background:#60ae0d; z-index:-1; }
	
	.hosting-table tbody tr td.new, .hosting-table tbody tr td.hot { position:relative; overflow:hidden; }
	.hosting-table tbody tr td.new:before, .hosting-table tbody tr td.hot:before { content:"New"; position:absolute; left:-20px; top:5px; padding:2px 22px; background:#60ae0d; color:#ffffff; font-size:12px; -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg);  transform:rotate(-45deg); }
	.hosting-table tbody tr td.hot:before { content:"Hot"; background:#e80505; padding:2px 24px; }
	


	/*----*****---- << Spa rounded corner image >> --****--*/ /* http://prntscr.com/dydylt = Spa */
	.dt-sc-partially-rounded-alt { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.vc_min_height_right.wpb_column.vc_col-sm-6 { margin-left: 30px; width: calc(50% - 30px); } /* http://prntscr.com/e0ka7y *
	

	/*----*****---- << Image Caption With Counter >> --****--*/	 /* http://prntscr.com/dydzek = Image caption counter */
	.dt-sc-image-caption-with-counter { counter-reset:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3 { counter-increment:image-caption-counter; }
	.dt-sc-image-caption-with-counter h3:before { content:counter(image-caption-counter, decimal-leading-zero); font-size:36px; font-weight:600; border-bottom:2px solid; float:left; margin:-10px 20px 0px 0px; padding:0px; }
	.dt-sc-image-caption-with-counter h3:before { font-family:'Open Sans', sans-serif; }
	
	
	.dt-sc-contact-details-on-map .dt-sc-map-overlay h3, .dt-sc-contact-details-on-map .map-switch-icon, .dt-sc-contact-details-on-map .map-switch-icon:hover { color:#ffffff; }	
	.dt-sc-contact-details-on-map .map-switch-icon:hover { background:#000000; } /* http://prntscr.com/dydzs2 = Restaurant */
	
	
	/*----*****---- << Photography Readmore Plus >> ----*****----*/ /* http://prntscr.com/dydzxp = Photography */
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; } 
	
	.dt-sc-readmore-plus-icon { position:absolute; right:0px; bottom:0px; width:60px; height:60px; text-indent:-9999px; }
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { content:""; position:absolute; left:0px; right:0px; top:0px; bottom:0px; margin:auto; }
	.dt-sc-readmore-plus-icon:before { height:1px; width:30px; }
	.dt-sc-readmore-plus-icon:after { height:30px; width:1px; }	
	
	.dt-sc-readmore-plus-icon:before, .dt-sc-readmore-plus-icon:after { background:#ffffff; }	
	.dt-sc-readmore-plus-icon { background:#000000; }	
	.dt-sc-readmore-plus-icon:hover { background:rgba(0, 0, 0, 0.8); }
	
	
	/*----*****---- << Nightclub Home page Social icons >> ----*****----*/
	.diamond-narrow-square-border li:before { -webkit-transition:all 0.3s linear; -moz-transition:all 0.3s linear; -o-transition:all 0.3s linear; -ms-transition:all 0.3s linear; transition:all 0.3s linear; }
	
	.diamond-narrow-square-border li a { color:#000000; }	
	.diamond-narrow-square-border li a:hover { color:#ffffff; }
	
	/*** Begin Styles ***/
	
	.dt-sc-process-flow .vc_column_container.vc_col-sm-3, .dt-sc-process-flow .vc_column_container.vc_col-sm-3 * { transition:all 0.3s linear; -moz-transition:all 0.3s linear; -webkit-transition:all 0.3s linear; }
	
	.space-both-sides.vc_column_container>.vc_column-inner { padding: 0 12%; }
	
	.text-hook{ font-weight:normal; font-size:24px; text-transform:uppercase; margin-bottom:15px;}
	
	.italic-font-style{font-style:italic;}
	

	.dt-sc-process-flow .vc_column_container.vc_col-sm-3.dt-sc-dark-bg:hover p{color:#dcdcdc;}
	
	.dt-sc-process-flow .vc_column_container.vc_col-sm-3:hover p{color:#5f5f5f;}
	
	.dt-sc-process-flow .vc_column_container.vc_col-sm-3:first-child{width:31%;}
	
	/* .vc_row .space-small .vc_column-inner{padding-left:90px; padding-right:85px; } */
	.vc_row .space-small .vc_column-inner{padding-left:70px; padding-right:65px; }
	
	.bigger-font{font-size:80px;}
	
	.space-left .vc_column-inner{padding-left:40px;}
	
	.space-right .vc_column-inner{padding-right:40px;}
	
	.fu1 .vertical_layer_parallax{-webkit-background-size:contain !important; background-size:contain !important;}
	
	.fu1 .vertical_layer_parallax:nth-child(even){background-position-x:right !important;}
	
	/*** Particle Section ***/
	
	.particles-js-canvas-el{position:absolute; top:0px; bottom:0; margin:auto; left:0; right:0;}
	
	#apply-particle-jquery{width:1920px; display:inline-block; float:left;}
	
	.particles-js-canvas-el{width:1920px !important; height:auto !important; display:inline-block;}
	
	/*** Center Bordered Columns ***/
	.dt-sc-centered-border-columns .vc_row > .wpb_column{border-style:solid; border-width:1px 1px 0 0; border-color:rgba(255, 255, 255,0.12);}
	.dt-sc-centered-border-columns .vc_row > .wpb_column:last-child { border-right-width: 0; }
	.dt-sc-centered-border-columns .vc_row.first > .wpb_column { border-top-width: 0; }
	.dt-sc-centered-border-columns .vc_row.last > .wpb_column { border-bottom-width: 0; }

	.dt-sc-centered-border-columns .vc_row .dt-sc-icon-box.type14 { border-width: 0; }
		
	.dt-sc-process-flow > .wpb_column { counter-increment: italic-font-style; position: relative; }
	.dt-sc-process-flow > .wpb_column .italic-font-style { min-height: 120px; }
	.dt-sc-process-flow .italic-font-style { color: #dadada; font-weight: normal; }
	.dt-sc-process-flow > .wpb_column .italic-font-style:after { content: counter(italic-font-style, decimal-leading-zero); display: table; font-size: 85px; font-style:normal; font-weight: bold; line-height: 170px; margin: 0; z-index: 1; -webkit-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s;  }

	.dt-sc-process-flow .dt-sc-dark-bg .italic-font-style, .dt-sc-process-flow > .wpb_column.dt-sc-dark-bg .italic-font-style:before { color:#fff; }
	.dt-sc-process-flow > .wpb_column:hover .italic-font-style:after { transform:scale(0.75); -moz-transform:scale(0.75); -webkit-transform:scale(0.75); }	
	
	.bg-img-display .upb_row_bg { z-index:-1; }
	
	.dt-sc-process-flow > .wpb_column .vc_column-inner { padding: 35px 50px; }
	.new-ventures { padding:50px 0 80px; }	
	/* .merging-technology .space-both-sides p { color:#242424; } */
	.best-platform h2 { text-transform:uppercase; font-weight:bold; }
	.footer-bottom .dt-custom-nav li a { padding:0; }
	/*.flip-box-wrap .ifb-back { border:1px solid rgba(255,255,255,0.08); }*/
	

	/*----*****---- << Flip Box >> ----*****----*/

	.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face .ifb-flip-box-section { padding: 40px 20px; }
	.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .flip-box-icon .aio-icon-img { font-size: 134px; }

	.flip-box-wrap .dt-custom-flip-box .ifb-flip-box { -webkit-perspective:1000px; perspective:1000px; -webkit-transform-style: preserve-3d; transform-style:preserve-3d; }
	.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face {
		overflow: visible;
		-webkit-perspective:1000px; 
		perspective:1000px; 
		-webkit-backface-visibility:hidden; 
		backface-visibility:hidden; 
		-webkit-transform-style: preserve-3d; 
		transform-style:preserve-3d;
		-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); 
		transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); 
		transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1); 
		transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), transform .7s cubic-bezier(0.4, 0.2, 0.2, 1) ; 			
	}

	.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face.ifb-front { 
		-webkit-transform:rotateY(0deg); 
		transform:rotateY(0deg); 
	}

	.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face.ifb-back { 
		-webkit-transform:rotateY(180deg); 
		transform:rotateY(180deg); 	
	}


	.flip-box-wrap .dt-custom-flip-box .ifb-flip-box .ifb-face .ifb-flip-box-section { 
		-webkit-perspective:inherit; 
		perspective:inherit; 
		-webkit-transform:translateY(-50%) translateZ(60px) scale(0.82); 
		transform:translateY(-50%) translateZ(60px) scale(0.82); 
	} 	
	.flip-box-wrap .dt-custom-flip-box .ifb-flip-box.ifb-hover .ifb-face.ifb-front { 
		-webkit-transform:rotateY(-180deg); 
		transform:rotateY(-180deg);  
	}
	.flip-box-wrap .dt-custom-flip-box .ifb-flip-box.ifb-hover .ifb-face.ifb-back { 
		-webkit-transform:rotateY(0deg); 
		transform:rotateY(0deg); 
	}	


	.italic { font-style:italic; font-weight:300; }


	.dt-custom-gradient-bg { position: relative; }
	.dt-custom-gradient-bg:before, .dt-custom-flip-box .ifb-flip-box .ifb-face.ifb-front:before, .view_details_btn:before { background-size: 150% auto; content: ""; height: 100%; left: 0; opacity: 0.25; filter: alpha(opacity=25); position: absolute; top: 0; width: 100%; z-index: -9; transition: all 0.5s ease 0s;
		background-color: #000000; /* Old browsers */
		background-image: -moz-linear-gradient(left, #000000 0%, #ffffff 51%, #5a5a5a 100%); /* FF3.6-15 */
		background-image: -webkit-linear-gradient(left, #000000 0%,#ffffff 51%,#5a5a5a 100%); /* Chrome10-25,Safari5.1-6 */
		background-image: linear-gradient(to right, #000000 0%,#ffffff 51%,#5a5a5a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#5a5a5a',GradientType=0 ); /* IE6-9 */		
	 }	
	 .view_details_btn:before { border-radius:50px; }
	 
	 .offer-time>.vc_column-inner>.wpb_wrapper, .dt-custom-offer-time>.vc_column-inner>.wpb_wrapper { padding:35px; box-shadow:0px 0px 30px rgba(0, 0, 0, 0.08); border-radius:5px; }	 
	 .offer-time h6 { margin:15px 0 0; }
	 .offer-text { padding-right:20px; }
	 .dt-custom-offer-label h6 { position:relative; margin:20px 0 5px; font-size:18px; }
	 .dt-custom-offer-label h6:before { content:''; position:absolute; left:0; top:7px; width:7px; height:7px; border-radius:50%; }
	 .dt-custom-offer-label h6, .dt-custom-offer-label p { padding-left:18px; }
	 .dt-custom-offer-time .wpb_row .wpb_column .wpb_wrapper .ult_countdown { margin-bottom:10px; }
	 .dt-custom-offer-time .dt-sc-progress { height:12px; border-radius:3px; }
	 .dt-custom-offer-time .dt-sc-progress .dt-sc-bar { border-radius:3px 0 0 3px; }
	 
	 .modern-carousel { padding:0 30px; }
	 .modern-carousel .carousel-arrows { position:absolute; top:47%; width:100%; }
	 .modern-carousel .dt-sc-images-wrapper .carousel-arrows a { position:absolute; }
	 .modern-carousel .dt-sc-images-wrapper .carousel-arrows .images-prev { left:-12px; }
	 .modern-carousel .dt-sc-images-wrapper .carousel-arrows .images-next { right:-20px; }
	 .modern-carousel .slick-arrow i { display:none; }
	 
	 .dt-sc-custom-testimonial .dt-sc-testimonial.type4 .dt-sc-testimonial-author { width:14%; }
	 .dt-sc-custom-testimonial .dt-sc-testimonial.type4 .dt-sc-testimonial-quote q:before, .dt-sc-custom-testimonial .dt-sc-testimonial.type4 .dt-sc-testimonial-quote q:after { font-size:45px; }
	 .dt-sc-custom-testimonial .dt-sc-testimonial.type4 .dt-sc-testimonial-quote q:after { display:none; }
	 .dt-sc-custom-testimonial .dt-sc-testimonial.type4 blockquote { font-weight:300; }
	 .dt-sc-custom-testimonial .dt-sc-testimonial.type4 .dt-sc-testimonial-quote q:before { position:absolute; left:-28px; top:0; }
	 
	 .dt-sc-custom-layout .left-content { padding-left:100px; }
	 .dt-sc-custom-layout .right-content { padding-right:100px; }
	 
	 .dt-sc-tabs-vertical-container.type3.faq-tab { overflow:visible; }
	 .dt-sc-tabs-vertical-container.type3.faq-tab ul.dt-sc-tabs-vertical > li > a { padding:15px; }
	 /* .dt-sc-tabs-vertical-container.type3.faq-tab ul.dt-sc-tabs-vertical > li > a.current { background:#1f1846; } */
	 .dt-sc-tabs-vertical-container.type3.faq-tab .dt-sc-tabs-vertical-content { margin-top:-190px; }
	 .faq-tab .dt-sc-toggle-accordion.active { margin:0; }
	 .faq-tab .dt-sc-toggle-frame-set .dt-sc-toggle-accordion.active a { color:#fff; }
	 .faq-tab .dt-sc-toggle-content { border:1px solid rgba(255, 255, 255, 0.09); }
	 .faq-tab h5.dt-sc-toggle-accordion { background:#34275a; font-size:15px; }
	 .faq-tab h5.dt-sc-toggle-accordion a { padding:10px 0px 10px 50px; }
	 .faq-tab h5.dt-sc-toggle-accordion:before, .faq-tab h5.dt-sc-toggle-accordion:after, .faq-tab h5.dt-sc-toggle-accordion a:before { display:none; }
	 .faq-tab .dt-sc-toggle-content { margin-bottom:10px; padding:30px 50px; }
	 .team-grid .rs_col-sm-6 .vc_column-inner { padding:0; }
	 .team-grid .dt-sc-team { overflow:visible; }
	 .team-grid .dt-sc-team-thumb img { width:100%; }
	 .team-grid .dt-sc-team-thumb:before { content:''; position:absolute; left:0; top:0; transform:scale(0); width:100%; height:100%; box-shadow:0px 0px 40px rgba(0,0,0,0.3); border-radius:5px; z-index:1; }
	 .team-grid .dt-sc-team:hover .dt-sc-team-thumb:before { transform:scale(1.1); opacity:0.95; }
	 .team-grid .dt-sc-team .dt-sc-team-details { position:absolute; z-index:2; top:50%; left:0; transform:translateY(-50%); opacity:0; background:none; }
	 .team-grid .dt-sc-team:hover .dt-sc-team-details { opacity:1; }
	 .team-grid .dt-sc-team .dt-sc-team-details h5 { font-size:14px; }
	 .our-partners .wpb_single_image { margin:20px 0; }
	 
	 ul.decimal-counter { counter-reset:my-badass-counter; }
	 ul.decimal-counter li:before { content:counter(my-badass-counter); counter-increment:my-badass-counter; position:absolute; font-size:15px; font-weight:600; width:28px; height:28px; line-height:28px; border-radius:50%; text-align:center; }
	 ul.decimal-counter li { padding:4px 0px 5px 50px; margin-bottom:20px; color:#fff; font-weight:600; }
	 
	 .register-form { padding:0 40px; text-align:center; }
	 .register-form .vc_column-inner>.wpb_wrapper { border-radius:5px; }
	 .form-heading { padding:30px 0; border-top-left-radius:5px; border-top-right-radius:5px; }
	 .form-heading h2 { font-weight:700; margin-bottom:5px; }
	 .register-form .wpcf7-form { padding:0 50px; }
	 .register-form .wpcf7-form-control-wrap:before { display:none; }
	 .register-form .wpcf7-form-control { border-color:rgba(255, 255, 255, 0.2); border-radius:50px; margin-top:15px; border-width:2px; padding-left:30px; }
	 
	 /* .ult_countdown .ult_countdown-row { text-align:left; } */
	 .ult_countdown-row .ult_countdown-section .ult_countdown-amount, .ult_countdown-row .ult_countdown-section .ult_countdown-period { font-family:"Open Sans", Helvetica, Arial, sans-serif !important; }
	 .ult_countdown-section .ult_countdown-amount { color:#fff; position:relative; padding-right:30px !important; }
	 .ult_countdown-section .ult_countdown-amount:after { content:':'; position:absolute; right:0; top:-2px; }
	 .ult_countdown-row .ult_countdown-section:last-child .ult_countdown-amount:after { content:''; }
	 .ult_countdown.ult-cd-s1 .ult_countdown-section { padding-left:0; }
	 .ult_countdown-section .ult_countdown-amount, .ult_countdown-section .ult_countdown-period { display:block; }
	 .ult_countdown .ult_countdown-section .ult_countdown-period { font-size:18px; margin-top:10px; text-align:left; }
	 .offer-time .wpb_row .wpb_column .wpb_wrapper .ult_countdown { border-bottom:1px solid rgba(255,255,255,0.15); padding-bottom:20px; margin-bottom:20px; }
	 
	/*----*****---- << Video Popup Overlay / Modal Box >> ----*****----*/
	.dt-sc-playon-video-modal { float: left; position: relative; width: 100%; }
	.dt-sc-playon-video-modal img.ult-modal-img { opacity: 0.7; filter: alpha(opacity=70); width: 100%; }
	.dt-sc-playon-video-modal.ult-adjust-bottom-margin { margin-bottom: 0; }
	.dt-sc-playon-video-modal:before { content: ""; opacity: 0; filter: alpha(opacity=0); pointer-events: none; position: absolute; bottom: 0; left: 0; right: 0; top: 0; }
	.dt-sc-playon-video-modal:hover:before { opacity:0.75; }
	.dt-sc-playon-video-modal:after { color: #fff; content: "\f3aa"; opacity:0; font-family: Material-Design-Iconic-Font; font-size: 46px; height: 82px; line-height: 82px; margin: auto; padding-left: 5px; pointer-events: none; position: absolute; bottom: 0; left: 0; right: 0; top: 0; text-align: center; width: 82px; -webkit-border-radius: 50%; border-radius: 50%; transform:scale(0); }
	.dt-sc-playon-video-modal:hover:after { opacity:1; transform:scale(1); -webkit-box-shadow: 0 0 0 2px currentColor inset; box-shadow: 0 0 0 2px currentColor inset; }	
	
	 
/*--------------------------------------------------------------
	1.1 - Crypto Currency Widgets
	--------------------------------------------------------------*/

	.dt-sc-crypto-widget { float: left; width: 100%; }

	.dt-sc-crypto-widget a[rel="nofollow"] > div > img { display: inline; }

	.dt-sc-crypto-horizontal .ccc-widget.ccc-header { float: none !important; }
	
	.dt-sc-crypto-converter .section-converter-ccc input { box-shadow: none; }
	.dt-sc-crypto-converter .section-converter-ccc input, .dt-sc-crypto-converter .section-converter-ccc .fromSymbolLabel, .dt-sc-crypto-converter .section-converter-ccc .styledSelect { height: 60px; }
	.dt-sc-crypto-converter .section-converter-ccc .fromSymbolLabel, .dt-sc-crypto-converter .section-converter-ccc .styledSelect { line-height: 60px; }
	.dt-sc-crypto-converter .section-converter-ccc .fromSymbolLabel, .dt-sc-crypto-converter .section-converter-ccc .styledSelect { border-radius: 0; }
	.dt-sc-crypto-converter .section-converter-ccc .styledSelect option { color:#000; }

	.dt-sc-crypto-ticker { float: left; width: 100%; }
	.dt-sc-crypto-ticker .ccc-widget.ccc-header-v3 { padding: 5px; }
	.ccc-coin-header-v3-container.marquee .ccc-header-v3-ccc-price-container a .ccc-header-v3-price-logo { margin-right: 5px; }
	.vc_row.vc_row-has-fill .dt-sc-crypto-ticker .ccc-widget.ccc-header-v3,
	.vc_row[class*="dt-skin"] .dt-sc-crypto-ticker .ccc-widget.ccc-header-v3 { background: none !important; }


	.dt-sc-crypto-converter.form-fields-inline .histoTitleConverter, .dt-sc-crypto-converter.form-fields-inline .poweredByWrapper, .dt-sc-crypto-converter.form-fields-inline form label { display: none; }
	.dt-sc-crypto-converter.form-fields-inline.alter .histoTitleConverter { display: block; margin-bottom: 20px; text-align: center; }

	.dt-sc-crypto-converter.form-fields-inline .ccc-widget.ccc-converter > div { background: none !important; border: none !important; clear: both; float: left; padding: 0 !important; width: 100%;  }

	.dt-sc-crypto-converter.form-fields-inline .convertForm, .dt-sc-crypto-converter.form-fields-inline .convertForm form {  float: left; width: 100%; }
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc { float: left; display: flex; flex-direction: row-reverse; }


	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel, 
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .styledSelect,
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .selection-box, 
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel ~ div, 
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .styledSelect ~ div,
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .selection-box ~ div { margin-right: 0 !important; }
	
	/* .dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .styledSelect ~ div { width:60%; padding-right:30px; } */

	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel, 
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .styledSelect,
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .selection-box { /* display: inherit;*/ float: none !important;  padding: 0 15px; width: auto !important; }

	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel { padding-left: 20px; padding-right: 20px; }


	.dt-sc-crypto-converter.form-fields-inline label[for="fsym_price"] ~ .section-converter-ccc { width: 35%; }
	.dt-sc-crypto-converter.form-fields-inline label[for="tsym_price"] ~ .section-converter-ccc { width: 65%; }

	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel { width: 50% !important; }
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel ~ div { width: 50%; }

	/* .dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .styledSelect { width: 40% !important; } */
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .styledSelect ~ div, .dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .selection-box ~ div { padding-right: 20px; /* width: 69%; */ }


	.dt-sc-crypto-converter.form-fields-inline.alter { padding: 30px; }

	.dt-sc-crypto-converter.form-fields-inline.alter label[for="fsym_price"] ~ .section-converter-ccc, 
	.dt-sc-crypto-converter.form-fields-inline.alter label[for="tsym_price"] ~ .section-converter-ccc { margin: 10px 0; width: 100%; }

	.dt-sc-crypto-converter.form-fields-inline.alter .section-converter-ccc .styledSelect { width: 50% !important; }
	.dt-sc-crypto-converter.form-fields-inline.alter .section-converter-ccc .styledSelect ~ div { padding-right: 0; width: 50%; }

	.dt-sc-crypto-converter.form-fields-inline.bordered.alter .section-converter-ccc .fromSymbolLabel ~ div, 
	.dt-sc-crypto-converter.form-fields-inline.bordered.alter .section-converter-ccc .styledSelect ~ div { padding-right: 2px; }


	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel ~ div input, 
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .styledSelect ~ div input,
	.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .selection-box ~ div input { padding-bottom: 0; padding-top: 0; text-align: center; }

	.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .fromSymbolLabel,
	.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .fromSymbolLabel ~ div input,
	.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .styledSelect, 
	.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .styledSelect ~ div input, .dt-sc-crypto-converter .section-converter-ccc input { background: none !important; font-size: 25px; height: 60px; }
	.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .fromSymbolLabel, .dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .styledSelect { line-height: 60px; }

	.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .fromSymbolLabel { border-width: 0 !important; }

	.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .fromSymbolLabel ~ div input,
	.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .styledSelect, 
	.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .styledSelect ~ div input,
	.dt-sc-crypto-converter.form-fields-inline.bordered.alter .section-converter-ccc .fromSymbolLabel, .dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .selection-box ~ div input { border: 2px solid rgba(255,255,255,0.3) !important; color:#fff !important; border-radius:2px !important; }


	.dt-custom-chart-advanced .tabContainer, .dt-sc-crypto-converter .selection-box:before { display: none !important; }

	.dt-sc-crypto-summary .highlightsWrapper { background-color: rgba(0, 0, 0, 0.035); border-width: 1px !important; }
	.dt-sc-crypto-summary .tabContainer { text-align: center; }
	.dt-sc-crypto-summary .tabContainer .tablinks { display: inline-block; float: none; }

	.dt-sc-crypto-summary .table-row .title, .dt-sc-crypto-historical div.histoRow { border-color: rgba(0,0,0,0.1) !important; }

	.dt-sc-crypto-chart.dt-simple-chart-without-bg .ccc-chart > div { border-color: rgba(255,255,255, 0.05) !important; border-radius: 0 !important; box-shadow: none !important; }

	.dt-sc-crypto-chart.dt-simple-chart-without-bg .ccc-chart .header-div,
	.dt-sc-crypto-chart.dt-simple-chart-without-bg .ccc-chart > div, .dt-sc-crypto-widget .ccc-widget, .dt-sc-crypto-widget.without-bg .ccc-widget .header-div { background: rgba(255,255,255,0.1) !important; border-color:rgba(0,0,0,0.5) !important }
	
	.dt-sc-crypto-widget.without-bg .ccc-widget > div { color:#fff !important; background:rgba(0,0,0,0.01) !important; border-color:transparent !important }	
	.dt-sc-crypto-widget.without-bg .ccc-widget .div-symbol-explanation { display:none; }
	
	.dt-sc-crypto-historical.without-bg div.histoRow, .dt-sc-crypto-summary.without-bg .table-row div { border-color:rgba(255,255,255,0.15) !important; color:#fff; }
	.dt-sc-crypto-summary.without-bg .highlightsWrapper { margin:20px 0; }
	.dt-sc-crypto-summary.without-bg .tablinks.active, .dt-sc-crypto-summary.without-bg .tablinks:hover { border-color:#fff !important; background:#fff; color:#000; }
	

	.dt-sc-crypto-chart.dt-simple-chart-without-bg .ccc-chart .header-div > a:first-child, 
	.dt-sc-crypto-chart.dt-simple-chart-without-bg .ccc-chart .header-div ~ div, 
	.dt-sc-crypto-chart.dt-simple-chart-without-bg .ccc-chart .header-div ~ div span, 
	.dt-sc-crypto-chart.dt-simple-chart-without-bg .ccc-chart .header-div ~ div a > span,
	.dt-skin-primary-bg .dt-sc-crypto-converter.form-fields-inline.alter .histoTitleConverter, .dt-sc-crypto-widget.without-bg .ccc-widget .priceValue a, .dt-sc-crypto-widget.without-bg .ccc-widget .header-div a, .dt-sc-crypto-widget.without-bg .ccc-widget .header-div span, .dt-sc-crypto-widget .ccc-widget .histoTitleConverter, .dt-sc-crypto-widget.without-bg .ccc-multi div a span, .dt-sc-crypto-widget.without-bg .ccc-header-v3 div a .ccc-header-v3-price-name, .dt-sc-crypto-widget.without-bg .ccc-header-v3 div a .ccc-header-v3-price-value, .dt-sc-crypto-widget.without-bg .ccc-widget .poweredBy span { color: #fff !important; }
	
	.dt-sc-crypto-widget.without-bg .ccc-tiles div a, .dt-sc-crypto-widget.without-bg .ccc-list div a, .dt-sc-crypto-widget.without-bg .ccc-multi div a { background:transparent !important; color:#fff !important; border-color:rgba(255, 255, 255, 0.07) !important }

	.dt-sc-crypto-widget.without-bg .ccc-widget .amcharts-stock-div text { fill:#fff; }

	div[class*="dt-skin"] .ccc-widget.ccc-header-v2, .vc_col-has-fill .ccc-widget.ccc-header-v2 { background: none !important; }

	.dt-sc-crypto-prices-list.dt-pricelist-with-custom-bg .ccc-list > div { border-color: rgba(0, 0, 0, 0.08) !important; border-radius: 0 !important; }
	.dt-sc-crypto-prices-list.dt-pricelist-with-custom-bg .ccc-list > div, 
	.dt-sc-crypto-prices-list.dt-pricelist-with-custom-bg .ccc-list > div > .header-div, 
	.dt-sc-crypto-prices-list.dt-pricelist-with-custom-bg .ccc-list > div > a { background: none !important; }
	.dt-sc-crypto-prices-list.dt-pricelist-with-custom-bg .ccc-list > div > a:last-child { border-width: 0 !important; }
	
	.dt-sc-crypto-horizontal .ccc-price-primary, .dt-sc-crypto-horizontal .ccc-price-primary span, .dt-sc-crypto-horizontal .ccc-price-secondary, .dt-sc-crypto-horizontal .ccc-price-secondary span { color:#fff !important; }
	
	.dt-sc-crypto-converter.dark-color .fromSymbolLabel, .dt-sc-crypto-converter.dark-color .styledSelect { color:#000 !important; }
	
	.dt-sc-crypto-widget .ccc-widget .div-symbol-explanation { color:#ccc !important; }

	.dt-sc-dark-bg .dt-sc-crypto-converter.form-fields-inline.alter .histoTitleConverter,
	.dt-sc-dark-bg .dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .fromSymbolLabel,
	.dt-sc-dark-bg .dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .styledSelect { color: #fff !important; }

	.dt-sc-dark-bg .dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .fromSymbolLabel ~ div input,
	.dt-sc-dark-bg .dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .styledSelect, 
	.dt-sc-dark-bg .dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .styledSelect ~ div input,
	.dt-sc-dark-bg .dt-sc-crypto-converter.form-fields-inline.bordered.alter .section-converter-ccc .fromSymbolLabel { border-color: #fff !important; }
	
	.video-content { padding-left:40px; }
	.dt-skin-light-bg-opaque { background:rgba(255,255,255,.05); }
	
	/* .dt-sc-custom-pricing .dt-sc-pr-tb-col.type1:hover .dt-sc-tb-header, .dt-sc-custom-pricing .dt-sc-pr-tb-col.type1.selected .dt-sc-tb-header { background:rgba(255, 255, 255, 0.08); }	*/
	 .dt-sc-custom-pricing .dt-sc-pr-tb-col.type1:hover, .dt-sc-custom-pricing .dt-sc-pr-tb-col.type1.selected, .dt-sc-custom-pricing .dt-sc-pr-tb-col .dt-sc-buy-now a { border-color:rgba(0,0,0,0.5); }
	 .dt-sc-custom-pricing .dt-sc-pr-tb-col .dt-sc-tb-content li { font-size:14px; border:none; padding:20px 0 0; }
	 .dt-sc-custom-pricing .dt-sc-pr-tb-col .dt-sc-buy-now a { text-transform:uppercase; }
	 .dt-sc-custom-pricing .dt-sc-pr-tb-col.type1 { border:none; }
	 
	 .padding-right-sm { padding-right:30px; }
	 .dt-custom-gradient-bg.best-platform:before { background:#000; }
	 .best-platform p { font-size:22px; font-weight:500; }
	 .best-platform p a { color:#fff; }
	 .best-platform:hover p a { text-decoration:underline; }
	 
	 .wpcf7-form .wpcf7-submit:hover { background:#fff; color:#000; }	
	 
	 .dt-sc-dark-bg .dt-sc-newsletter-section.type6 input::placeholder { color:#ccc; }
	 .dt-sc-dark-bg .dt-sc-newsletter-section .dt-sc-subscribe-frm input[type="email"]:focus { color:#fff; border-color:#fff; }
	 
	 .any-query .dt-sc-newsletter-section.type4 .dt-sc-subscribe-frm input[type="submit"] { margin-bottom:10px; }		 
	
	
	/*--------------------------------------------------------------
	2.0 - Browser Fix
	--------------------------------------------------------------*/
	/* IE9 and above override */	
	@media screen and (min-width:0\0) { 
			
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 71px 0 0; }
		
	}
	
	/* IE9 only override */	
	.ie9 .dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }	
	

	/*--------------------------------------------------------------
	3.0 - DT Responsive
	--------------------------------------------------------------*/
	/* Note: Design for a width of 960px */	
	
	@media only screen and (min-width:1200px) and (max-width:1380px) {
		
	.dt-sc-process-flow > .wpb_column .italic-font-style { min-height:60px; }
	.dt-sc-process-flow > .wpb_column .vc_column-inner { padding:63px 40px 20px 40px; }
	.ult_countdown-section .ult_countdown-amount { font-size:40px !important; }
	
	}
	
	
    @media only screen and (min-width:992px) and (max-width:1199px) {
		
		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:10px; }
		
		/*----*****---- << Restaurant >> ----*****----*/
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 72px 0 0; }
		
		/*----*****---- << Miscellaneous >> ----*****----*/
		.dt-sc-text-with-icon { font-size: 13px; }
		
		.dt-sc-image-caption.type8 .dt-sc-image-title h6 { line-height: normal; }

		.flip-box-wrap .flip-box .flipbox_heading { font-size: 12px !important; }

		.dt-sc-process-flow .vc_column_container.vc_col-sm-3 { width: 50% !important; }

		.space-both-sides h2 { font-size: 30px !important; }
		.dt-sc-process-flow > .wpb_column .vc_column-inner { padding:0 20px; }
		.register-form { padding:0 20px; }
		.new-ventures { padding:40px 0 70px; }
		.new-ventures .vcpb-default { background-size:cover !important; }
		.ccc-summary .price-value { font-size:55px; }
		.dt-sc-custom-layout .left-content { padding-left:50px; }
		.dt-sc-custom-layout .right-content { padding-right:50px; }
		.dt-custom-offer-time .ult_countdown-section .ult_countdown-amount { font-size:28px !important; padding-right:20px !important; }
		.dt-custom-offer-time .ult_countdown-section .ult_countdown-amount:after { top:0; }
		
		.best-platform h2 { font-size:27px; }
		.way-to-buy .wpb_single_image { margin-top:100px; }
		.counter-section .dt-sc-stretch-row-content .wpb_column .vc_row { margin:0; padding-left:10px; }
		
		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .selection-box ~ div { width:90%; }
	}
	
	 /* Note: Design for a width of 768px */
    @media only screen and (min-width:768px) and (max-width:991px) {
		
		.dt-sc-text-with-icon { font-size: 11px; }
		
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 { padding-left: 5px; padding-right: 5px; }
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 { font-size: 13px; padding-left: 10px; padding-right: 10px; }
		.vc_row.vc_row-no-padding .dt-sc-map-overlay .wpb_column.vc_col-sm-3 .dt-sc-contact-info.type3 h6 { font-size: 15px; }
	
		.dt-sc-contact-details-on-map .dt-sc-map-overlay { padding: 76px 0 0; }	
		
		.rs_line_height p { line-height:normal !important; }

		
		/*----*****---- << Event >> ----*****----*/
		.dt-sc-content-with-hexagon-shape { margin-left:16%; }
		.event-colored-box { margin-top:0; }
		.event-contact-info { margin-left:25%; }
		
		/*----*****---- << Architecture >> ----*****----*/
		.architecture-process.rs_padding_override { padding-left:20px !important; padding-right:20px !important; }
		.column.wpb_column.dt-sc-one-fifth.vc_col-md-4 { width:32%; margin-bottom:20px; min-height:290px; }
		.column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(4), .column.wpb_column.dt-sc-one-fifth.vc_col-md-4:nth-child(10) { margin-left:0; }
		
		.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 40px; }
		
		#footer .vc_column_container>.vc_column-inner{padding-right:0px;}

		.dt-sc-process-flow .vc_column_container.vc_col-sm-3 { width: 50% !important; }
		/* h2 { font-size:30px !important; } */
		.new-ventures { padding:80px 0; }
		.new-ventures .vcpb-default { background-size:cover !important; }
		.dt-sc-process-flow > .wpb_column .italic-font-style { font-size:15px !important; }
		.dt-sc-process-flow > .wpb_column .vc_column-inner { padding:0 15px; }
		.team-grid .dt-sc-team, .team-grid .rs_col-sm-6 { margin-bottom:0; }
		.vc_row.new-ventures.vc_row-flex>.dt-sc-stretch-row-content { display:block; }
		.ccc-summary .price-value { font-size:50px; }
		.dt-sc-crypto-historical.without-bg div.histoRow, .dt-sc-crypto-summary.without-bg .table-row div { font-size:14px; }
		.dt-sc-custom-layout .left-content, .dt-sc-custom-layout .right-content { padding:0 15px; }
		
		.vc_row.vc_row-flex.any-query .dt-sc-stretch-row-content { display:block; }
		.vc_row.vc_row-flex.any-query .rs_col-sm-6 { margin-bottom:0; }
		.vc_row.vc_row-flex.counter-section .dt-sc-stretch-row-content { display:block; }
		
		.our-partners { padding:0 20px !important; }
		.counter-section .dt-sc-stretch-row-content .wpb_column .vc_row { margin:0; padding-left:10px; }
		
	}
	
	
	/*----*****---- << Mobile (Landscape) >> ----*****----*/	
	
	/* Common Styles for the devices below 767px width */
	@media only screen and (max-width: 767px) {
	
		.fitness-form-container.extend-bg-fullwidth-right::after { background-color:transparent; }
		.fitness-form-container.extend-bg-fullwidth-right .vc_column-inner { padding-left:30px !important; padding-right:30px !important; }
		.fitness-contact-boxes .wpb_text_column, .fitness-contact-boxes .wpb_text_column:nth-child(2), .fitness-contact-boxes .wpb_text_column:last-child, .fitness-contact-boxes .wpb_text_column:nth-child(3) { width:100%; padding:10px 0px; }
		
		.hotel_blockquote-type4 blockquote.type4 { margin-top:0; }
		
		.event-colored-box { margin-top:0; }
		.event-contact-info.wpb_column { width: 320px; padding: 85px 30px 30px; float: none; }
			
		
		.gradient-parallax:before { background: -moz-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    background: -webkit-linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    background: linear-gradient(to right, rgba(242, 243, 246, 1) 20%, rgba(242, 243, 246, 0.75) 30%, rgba(242, 243, 246, 0.65) 40%, rgba(242, 243, 246, 0.55)60%, rgba(229, 229, 229, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f6', endColorstr='#00e5e5e5', GradientType=1); }

		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:100px; }
		.rs_client_testimonial-center .dt-sc-image-flip a { position:relative; display:block; }
		.rs_client_testimonial-center .dt-sc-image-flip { text-align:center; }
		
		.hosting-table th { font-size:13px; padding:13px 10px; text-transform: capitalize; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:13px; padding:21px 10px; }
		.hosting-contact-info-container:before { content:none; }
		
		.extend-bg-fullwidth-left::after { content:none; }
		
		
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_col_align_center { text-align:center; }
		.rs_col_no_btm_space .wpb_column, .rs_col_no_btm_space.wpb_column, 
		.rs_negative-margin_override.vc_row { margin-left:0 !important; }
					
		.rs_padding_override_zero.vc_row,
		.rs_padding_override_zero.wpb_column .vc_column-inner { padding-left: 0 !important; padding-right: 0 !important; }
		
		.secondary-skin-gradient .dt-sc-contact-info, .secondary-skin-gradient .dt-sc-contact-info span { font-size: 30px; }
		
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 50px !important; padding-right: 50px !important; }
		
		.space-both-sides.vc_column_container>.vc_column-inner{padding:0 15px;}
		
		.no-bg-appear.wpb_row, .no-bg-appear .upb_row_bg{background-image:none !important;}
		
		.dt-sc-process-flow .vc_column_container.vc_col-sm-3:first-child{width:100%;}

		.dt-sc-process-flow .vc_column_container.vc_col-sm-3{width:100%;}
		
		.vc_row .space-small .vc_column-inner{padding-left:15px; padding-right:15px;}
		
		.bigger-font{font-size:50px;}
		
		.dt-sc-process-flow > .wpb_column .italic-font-style:before{left:15px;}
		
		.dt-sc-centered-border-columns .vc_row > .wpb_column{border-width:0px;}
		.counter-sec, .counter-sec h2.vc_custom_heading { text-align:center !important; }
		.dt-sc-process-flow > .wpb_column .vc_column-inner { padding-bottom:0; }
		.new-ventures { padding:70px 0 20px; }
		.new-ventures .vcpb-default { background-size:cover !important; }
		
		/* Currency Converter */
		.dt-sc-crypto-converter.form-fields-inline label[for="fsym_price"] ~ .section-converter-ccc,
		.dt-sc-crypto-converter.form-fields-inline label[for="tsym_price"] ~ .section-converter-ccc { width: 100%; }

		.dt-sc-crypto-converter.form-fields-inline label[for="fsym_price"] ~ .section-converter-ccc { margin-bottom: 10px; }

		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel ~ div { padding-right: 30px; width: 60%; }
		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel { padding-left: 20px; width: 40% !important; }

		/* .dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .fromSymbolLabel { border: 2px solid #000 !important; }			
		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc { flex-direction: column-reverse; align-items: center; } */
		
		.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .fromSymbolLabel { line-height:50px; }
		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .selection-box { width:50% !important; }

		.dt-sc-crypto-converter.form-fields-inline label[for="fsym_price"] ~ .section-converter-ccc { margin-bottom: 20px; }

		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel, 
		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel ~ div,
		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .styledSelect,
		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .styledSelect ~ div { width: 100% !important; }

		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .fromSymbolLabel ~ div,
		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .styledSelect ~ div { margin-bottom: 10px; padding-left: 0; padding-right: 0; }
		.register-form { padding:0 10px; }
		.register-form .wpcf7-form { padding:0 20px; }
		.register-form .wpcf7-form-control { margin-top:0; }
		
		.team-grid .dt-sc-team, .team-grid .rs_col-sm-6 { margin-bottom:0; }
		
		.vc_row.vc_row-flex>.dt-sc-stretch-row-content>.space-small { display:none; }
		.faq-tab ul.dt-sc-tabs-vertical, .dt-sc-tabs-vertical-container.type3.faq-tab .dt-sc-tabs-vertical-content { width:100%; }
		.dt-sc-tabs-vertical-container.type3.faq-tab .dt-sc-tabs-vertical-content { margin-top:0; padding:0; }
		.faq-tab ul.dt-sc-tabs-vertical { margin-bottom:20px; }
		.ccc-summary .price-value { font-size:42px; }
		.dt-sc-crypto-historical.without-bg div.histoRow, .dt-sc-crypto-summary.without-bg .table-row div { font-size:14px; padding:15px 10px; }
		.dt-sc-crypto-summary .tabContainer .tablinks { font-size:16px; }
		.how-to-buy>.wpb_column, .how-to-buy .wpb_column .vc_row .rs_col-sm-8:nth-child(2) { margin-bottom:0; }
		
		.dt-sc-custom-layout .left-content, .dt-sc-custom-layout .right-content { padding:0; }
		
		.dt-custom-offer-time .ult_countdown-section .ult_countdown-amount { font-size:28px !important; padding-right:20px !important; }
		.dt-custom-offer-time .ult_countdown-section .ult_countdown-amount:after { top:0; }
		.our-partners { padding:0 20px !important; }
		
		.team-grid .dt-sc-team:hover .dt-sc-team-thumb:before { transform:scale(1.06); }
		
}
	
	/* Common Styles for the devices below 479px width */
    @media only screen and (max-width: 479px) {
		
		/*----*****---- << Event location page >> ----*****----*/
		.event-contact-info.wpb_column { width:100%; margin:20px 0px 0px 0px; }
		.event-contact-info:before { left:0px; width:100%; background-size:100%; }
		.event-contact-info .dt-sc-sociable li { margin-bottom:20px; }
	
		/*----*****---- << Custom Class >> ----*****----*/
		.rs_padding_left-override.vc_row .vc_column-inner, .rs_padding_left-override.wpb_column .vc_column-inner { padding-left:15px !important; }
		.vc_row.vc_row-no-padding .responsive-padding > .vc_column-inner { padding-right: 35px; padding-left: 35px; }
		
		/*----*****---- << Attorney >> ----*****----*/
		.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame, .dt-sc-tabs-vertical-frame-container.rs_align_middle .dt-sc-tabs-vertical-frame-content { margin:0; }
		.dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame > li > a.current, .dt-sc-tabs-vertical-frame-container.rs_align_middle ul.dt-sc-tabs-vertical-frame > li > a { border-right:1px solid rgba(0, 0, 0, 0.1); }
		
		.gradient-content .dt-sc-button.medium { padding: 14px 20px; }
		
		.overflow-content { margin: 0; }
		
		/*----*****---- << Hosting >> ----*****----*/
		.hosting-table th { text-transform:capitalize; font-size:12px; padding:13px 6px; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:12px; padding:22px 8px; }
		
		/*----*****---- << Miscellaneous >> ----*****----*/
		.rs_fontsize_small { font-size: 40px !important; }		
						
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 30px !important; padding-right: 30px !important; }
		
		/*----*****---- << Business >> ----*****----*/	
		.business-contact-social li { margin: 0 15px; }	
		
		.dt-sc-dark-bg h2.vc_custom_heading, h2 { font-size:26px; }
		/* .ult_countdown.ult-cd-s1 .ult_countdown-section { width:50%; } */
		.ult_countdown-section .ult_countdown-amount { padding-right:20px !important; }
		.dt-custom-offer-time .ult_countdown .ult_countdown-section .ult_countdown-amount { font-size:28px !important; }
		.dt-custom-offer-time .ult_countdown .ult_countdown-section .ult_countdown-period { font-size:14px !important; }
		.offer-time>.vc_column-inner>.wpb_wrapper, .dt-custom-offer-time>.vc_column-inner>.wpb_wrapper { padding:35px 12px; }
		
		.dt-sc-crypto-converter.form-fields-inline .section-converter-ccc .selection-box { padding:0; }
		.dt-sc-crypto-converter.form-fields-inline.bordered .section-converter-ccc .styledSelect { font-size:22px; }
		
		.dt-custom-offer-time .dt-sc-progress { margin:30px 0 40px; }
		.best-platform { padding:0 20px; }
		.dt-sc-custom-testimonial .dt-sc-testimonial.type4 .dt-sc-testimonial-author { width:25%; }
		.modern-carousel { padding:0; }
		.any-query .dt-sc-newsletter-section.type4 .dt-sc-subscribe-frm input[type="text"], .any-query .dt-sc-newsletter-section.type4 .dt-sc-subscribe-frm input[type="email"] { width:100%; }
		
		.faq-tab h5.dt-sc-toggle-accordion a { padding-left:15px; }
		.faq-tab .dt-sc-toggle-content { padding:15px; }
			
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 319px) {
		
		/*----*****---- << Event location page >> ----*****----*/
		.event-contact-info.wpb_column { padding-left:20px; padding-right:20px; }
		.event-contact-info .dt-sc-contact-info span { width:100%; text-align:center; float:none; margin:0; }
		
		/*----*****---- << Hosting contact Page >> ----*****----*/	
		.hosting-contact-info-container:before { left:0; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 { padding-left:0px; }
		.hosting-contact-info-container .dt-sc-contact-info.type7 span { left:0px; }
		.hosting-contact-info-container:before { width:100%; }
		
		/*----*****---- << Hosting Domain Page >> ----*****----*/		
		.hosting-table th { font-size:10px; padding:13px 0; }
		.hosting-table tr td, .hosting-table tbody tr:nth-child(2n+1) td { font-size:10px; padding:21px 7px; }

		/*----*****---- << Common >> ----*****----*/
		.rs_fontsize_small { font-size: 32px !important; }
		
		/* http://prntscr.com/dydp42, http://prntscr.com/dydpkf */
		.rs_padding_override.vc_row, 
		.rs_padding_override.wpb_column .vc_column-inner { padding-left: 20px !important; padding-right: 20px !important; }
	
		/*----*****---- << Fitness >> ----*****----*/
		.dt-sc-text-with-icon { font-size: 10px; padding-left: 15px; }
		.dt-sc-text-with-icon span { font-size: 15px; margin-right: 5px; }		
	}